In [1]:
import pandas as pd
import numpy as np

In [4]:
location = "datasets/diamonds.csv"
df = pd.read_csv(location)

In [9]:
df.head()

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75

In [10]:
df.head(2000)

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75
5,6,0.24,Very Good,J,VVS2,62.8,57.0,336,3.94,3.96,2.48
6,7,0.24,Very Good,I,VVS1,62.3,57.0,336,3.95,3.98,2.47
7,8,0.26,Very Good,H,SI1,61.9,55.0,337,4.07,4.11,2.53
8,9,0.22,Fair,E,VS2,65.1,61.0,337,3.87,3.78,2.49
9,10,0.23,Very Good,H,VS1,59.4,61.0,338,4.00,4.05,2.39
10,11,0.30,Good,J,SI1,64.0,55.0,339,4.25,4.28,2.73
11,12,0.23,Ideal,J,VS1,62.8,56.0,340,3.93,3.90,2.46
12,13,0.22,Premium,F,SI1,60.4,61.0,342,3.88,3.84,2.33
13,14,0.31,Ideal,J,SI2,62.2,54.0,344,4.35,4.37,2.71
14,15,0.20,Premium,E,SI2,60.2,62.0,345,3.79,3.75,2.27
15,16,0.32,Premium,E,I1,60.9,58.0,345,4.38,4.42,2.68
16,17,0.30,Ideal,I,SI2,62.0,54.0,348,4.31,4.34,2.68
17,18,0.30,Good,J,SI1,63.4,54.0,351,4.23,4.29,2.70
18,19,0.30,Good,J,SI1,63.8,56.0,351,4.23,4.26,2.71
19,20,0.30,Very Good,J,SI1,62.7,59.0,351,4.21,4.27,2.66
20,21,0.30,Good,I,SI2,63.3,56.0,351,4.26,4.30,2.71
21,22,0.23,Very Good,E,VS2,63.8,55.0,352,3.85,3.92,2.48
22,23,0.23,Very Good,H,VS1,61.0,57.0,353,3.94,3.96,2.41
23,24,0.31,Very Good,J,SI1,59.4,62.0,353,4.39,4.43,2.62
24,25,0.31,Very Good,J,SI1,58.1,62.0,353,4.44,4.47,2.59
25,26,0.23,Very Good,G,VVS2,60.4,58.0,354,3.97,4.01,2.41
26,27,0.24,Premium,I,VS1,62.5,57.0,355,3.97,3.94,2.47
27,28,0.30,Very Good,J,VS2,62.2,57.0,357,4.28,4.30,2.67
28,29,0.23,Very Good,D,VS2,60.5,61.0,357,3.96,3.97,2.40
29,30,0.23,Very Good,F,VS1,60.9,57.0,357,3.96,3.99,2.42
...,...,...,...,...,...,...,...,...,...,...,...
1970,1971,0.87,Ideal,F,SI2,62.2,56.0,3090,6.03,6.13,3.78
1971,1972,0.71,Premium,D,VS1,58.1,62.0,3090,5.89,5.84,3.41
1972,1973,0.72,Ideal,E,VS2,60.8,57.0,3091,5.79,5.82,3.53
1973,1974,0.92,Premium,J,VS2,60.9,62.0,3091,6.31,6.26,3.83
1974,1975,1.20,Premium,G,I1,60.3,58.0,3091,6.82,6.77,4.10
1975,1976,0.80,Premium,E,SI1,62.9,60.0,3091,5.89,5.87,3.70
1976,1977,0.98,Very Good,H,SI2,63.4,57.0,3091,6.41,6.32,4.04
1977,1978,0.70,Very Good,D,VS2,60.7,58.0,3092,5.70,5.73,3.47
1978,1979,0.70,Ideal,D,VS2,61.6,58.0,3092,5.66,5.70,3.50
1979,1980,0.70,Ideal,D,VS2,62.3,55.0,3092,5.67,5.70,3.54
1980,1981,0.80,Very Good,F,SI1,63.1,58.0,3093,5.89,5.93,3.73
1981,1982,0.70,Ideal,E,VS2,62.0,57.0,3093,5.68,5.71,3.53
1982,1983,0.70,Ideal,D,VS1,61.9,57.0,3093,5.69,5.72,3.53
1983,1984,0.72,Ideal,E,VVS2,62.1,57.0,3093,5.76,5.74,3.57
1984,1985,0.71,Ideal,G,VVS2,62.5,57.0,3095,5.70,5.73,3.57
1985,1986,0.70,Very Good,E,VS1,63.4,57.0,3095,5.63,5.67,3.58
1986,1987,0.81,Very Good,G,SI1,62.3,59.0,3095,5.93,5.98,3.71
1987,1988,0.94,Premium,F,SI2,62.3,59.0,3095,6.32,6.23,3.91
1988,1989,0.90,Premium,H,SI1,62.4,56.0,3095,6.13,6.05,3.80
1989,1990,0.71,Very Good,D,VS2,63.1,59.0,3096,5.64,5.67,3.57
1990,1991,0.71,Very Good,D,VS2,63.0,58.0,3096,5.65,5.68,3.57
1991,1992,0.77,Good,H,VVS1,63.1,57.0,3096,5.83,5.86,3.69
1992,1993,0.91,Premium,F,SI2,62.1,56.0,3096,6.26,6.21,3.87
1993,1994,0.81,Ideal,I,SI1,61.3,56.0,3097,6.23,6.27,3.83
1994,1995,0.81,Premium,F,SI1,60.3,59.0,3097,5.98,6.05,3.63
1995,1996,0.52,Ideal,E,VVS1,61.8,55.0,3097,5.19,5.20,3.21
1996,1997,0.53,Ideal,D,VVS1,61.6,55.0,3097,5.21,5.27,3.23
1997,1998,1.29,Good,I,I1,64.2,54.0,3098,6.93,6.83,4.42
1998,1999,0.90,Very Good,I,SI2,60.4,58.0,3099,6.25,6.31,3.79
1999,2000,0.72,Ideal,D,VS2,61.8,57.0,3099,5.76,5.73,3.55

In [12]:
df.tail()

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
53935,53936,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50
53936,53937,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61
53937,53938,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56
53938,53939,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74
53939,53940,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64

In [119]:
df.nohead = pd.read_csv(location, header=None)
df.nohead.head()

    0      1        2      3        4      5      6      7     8     9     10
0  NaN  carat      cut  color  clarity  depth  table  price     x     y     z
1  1.0   0.23    Ideal      E      SI2   61.5     55    326  3.95  3.98  2.43
2  2.0   0.21  Premium      E      SI1   59.8     61    326  3.89  3.84  2.31
3  3.0   0.23     Good      E      VS1   56.9     65    327  4.05  4.07  2.31
4  4.0   0.29  Premium      I      VS2   62.4     58    334   4.2  4.23  2.63

In [125]:
ocation2 = "datasets/diamonds.csv"
df_during = pd.read_csv(location2,  names=['A', 'B' , 'C' , 'D' , 'E' , 'F' , 'G' , 'H' ,  'X' , 'Y' , 'Z'])
df_during.head()

     A      B        C      D        E      F      G      H     X     Y     Z
0  NaN  carat      cut  color  clarity  depth  table  price     x     y     z
1  1.0   0.23    Ideal      E      SI2   61.5     55    326  3.95  3.98  2.43
2  2.0   0.21  Premium      E      SI1   59.8     61    326  3.89  3.84  2.31
3  3.0   0.23     Good      E      VS1   56.9     65    327  4.05  4.07  2.31
4  4.0   0.29  Premium      I      VS2   62.4     58    334   4.2  4.23  2.63

In [126]:
depth1 = ['A']
price1 = ['B']
depthlist= list(zip(depth1,price1))
df.head()

  depth1 price1
0  depth  price

In [130]:
location2 = "datasets/diamonds.csv"
df_during = pd.read_csv(location2,  names=['A', 'B' , 'C' , 'D' , 'E' , 'F' , 'G' , 'H' ,  'X' , 'Y' , 'Z'])
df_during.head()

     A      B        C      D        E      F      G      H     X     Y     Z
0  NaN  carat      cut  color  clarity  depth  table  price     x     y     z
1  1.0   0.23    Ideal      E      SI2   61.5     55    326  3.95  3.98  2.43
2  2.0   0.21  Premium      E      SI1   59.8     61    326  3.89  3.84  2.31
3  3.0   0.23     Good      E      VS1   56.9     65    327  4.05  4.07  2.31
4  4.0   0.29  Premium      I      VS2   62.4     58    334   4.2  4.23  2.63

In [22]:
dupe = df.duplicated()

In [24]:
df.loc[dupe]

Empty DataFrame
Columns: [Unnamed: 0, carat, cut, color, clarity, depth, table, price, x, y, z]
Index: []

In [26]:
df.columns

Index(['Unnamed: 0', 'carat', 'cut', 'color', 'clarity', 'depth', 'table',
       'price', 'x', 'y', 'z'],
      dtype='object')

In [27]:
df.dtypes

Unnamed: 0      int64
carat         float64
cut            object
color          object
clarity        object
depth         float64
table         float64
price           int64
x             float64
y             float64
z             float64
dtype: object

In [28]:
df.count()

Unnamed: 0    53940
carat         53940
cut           53940
color         53940
clarity       53940
depth         53940
table         53940
price         53940
x             53940
y             53940
z             53940
dtype: int64

In [31]:
df['depth'].max()

79.0

In [33]:
df['depth'].min()

43.0

In [36]:
df['depth'].min()

43.0

In [37]:
df['depth'].sum()

3330762.8999999575

In [38]:
df['depth'].mean()

61.74940489432624

In [39]:
df['depth'].mode()

0    62.0
dtype: float64

In [134]:
df['depth1'].value_counts()

depth    1
Name: depth1, dtype: int64

In [132]:
df.describe()

       depth1 price1
count       1      1
unique      1      1
top     depth  price
freq        1      1

In [135]:
df.groupby('depth1')

In [138]:
df['price1'].groupby(df['depth1'])